@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1px;
}

.container{
    height: 700rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.parent{
    width: 336rem;
    border: 1rem solid #C4C4C4;
    border-radius: 10rem;
   
    
}
.child1{
    height: 28rem;
    background: #FFDC40;
    border-top-left-radius:9rem;
    border-top-right-radius:9rem;
}
.head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26rem;
    line-height: 30rem;
    text-align: center;
    text-transform: capitalize;
    padding-top:12rem;
} 
.list{
    position: absolute;
    top: 20rem;
    right: 30rem;
    cursor: pointer;
}
.include{
    position: relative;
}
.enter{
    width: 284rem;
    height: 40rem;
    border: 1rem solid #C4C4C4;
    border-radius: 10rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 16px;
    border: none;
    padding-left: 27rem;
    padding-right: 55rem;
}
.enter:hover {
    border: 1rem solid #C4C4C4;
  }
.add{
    background: #833AE0;
    border-radius: 71rem;   
    border:none;    
    width: 150rem;
    height: 42rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 16rem;
    padding-left: 19rem;
    color: #FFFFFF;
    margin-top: 17rem;
    margin-left: 92rem;
    cursor: pointer;
    margin-bottom: 18rem;
}
.plus{
    width: 42rem;
    height: 42rem;
    position: absolute;
    left: 90rem;
    margin-top: 17rem;
}
.delete-icon{
   position: absolute;
   top: 10rem;
   left: 235rem;
   cursor: pointer;
}
.new-button{
    width: 284rem;
    height: 40rem;
    border: 1rem solid #C4C4C4;
    border-radius: 10rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 16px;
    border: none;
}
.new-button:hover {
    border: 1rem solid #C4C4C4;
}

.input-div{
    border: 1rem solid #C4C4C4;
    border-radius: 10rem;
    width: 286rem;
    margin-left: 28rem;
}
.input-parent{
    padding-top: 48rem;
}
.input-div-child{
    position: relative;
}
.creat-delete{
    position: absolute;
    top: 10rem;
    left: 235rem;
}
.input-div-new{
    position: relative;
}