@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1px;
}

.container{
    max-width: 1152rem;
    height: 700rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.parent{
    width: 336rem;
    height: 236rem;
    border: 1rem solid #C4C4C4;
    border-radius: 10rem;
    
}
.child1{
    height: 28rem;
    background: #FFDC40;
    border-top-left-radius:9rem;
    border-top-right-radius:9rem;
}
.head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26rem;
    line-height: 30rem;
    text-align: center;
    text-transform: capitalize;
    padding-top:12rem;
} 
.list{
    transform: translate(84%,19rem);
}

.enter{
    width: 286rem;
    height: 40rem;
    border: 1rem solid #C4C4C4;
    border-radius: 10rem;
    margin-left: 28rem;
    margin-top: 31rem;
    
}
.add{
    background: #833AE0;
    border-radius: 71rem;   
    border:none;    
    width: 150rem;
    height: 42rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 16rem;
    padding-left: 19rem;
    color: #FFFFFF;
    margin-top: 17rem;
    margin-left: 92rem;
}
.plus{
    background: #9953F1;
    border-radius: 71rem;
    width: 42rem;
    height: 42rem;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 16rem;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    left: -150rem;
}